@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600&family=Inter:wght@300;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,700;1,100;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

:root {
    --primary: #43C6D9;
    --secondary: #04344B;
    --third: #2b83ac;
    --white: #fff;
    --black: #000;
    /*========== Colors ==========*/
  --hue-color: 240;

  --first-color: hsl(var(--hue-color), 53%, 49%);
  --title-color: hsl(var(--hue-color), 53%, 15%);
  --text-color: hsl(var(--hue-color), 12%, 35%);
  --text-color-light: hsl(var(--hue-color), 12%, 65%);
  --white-color: #FFF;
  --body-color: hsl(var(--hue-color), 24%, 94%);

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 3rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;

  /*========== Font weight ==========*/
  --font-medium: 500;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: .25rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-normal: 1;
  --z-tooltip: 10;
}

.nav {
    background: linear-gradient(100deg ,var(--primary), var(--secondary));
    padding: 10px 100px;
}

.navbar-brand {
    color: var(--white);
    font-size: 1.1rem;
    font-weight: 700;
}

.collapse ul li a{
    position: relative;
    left: 40px;
    color: var(--white);
    font-size: 1.1rem;
}

.collapse ul li a:hover{
    color: var(--primary);
}

.dropdown-menu{
    background: var(--secondary);
}

.perfil h3{
    color: var(--white);
    font-size: 1rem;
}

.btn-group ul li a{
    color: var(--white);
}

.div-content {
    padding: 50px 70px;
}

.div-container {
    padding: 30px;
    border-radius: 20px;
    height: 570px;
    box-shadow: 0px 0px 30px 4px rgba(0,0,0,0.3);
}

.div-container img {
    width: 7rem;
    border-radius: 50%;
    margin: 0 0.4rem;
  }

.div-info{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info-user{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info-user,
.info-carga-h {
    margin-top: 40px;
}

.info-user h1{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary);
}

.info-user h2{
    font-size: 1.4rem;
    color: var(--secondary);
}

.info-user h3{
    font-size: 1.2rem;
    color: var(--secondary);
}


.info-carga-h {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-carga-h h1{
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--secondary);
}

.info-carga-h h2{
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--secondary);
}

.div-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-hour-t {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background: var(--primary);
    border-radius: 20px;
    height: 100px;
}
.card-hour-e {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background: var(--third);
    border-radius: 20px;
    height: 100px;
}
.card-falta {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background: var(--secondary);
    border-radius: 20px;
    height: 100px;
}

.card-hour-t h3,
.card-hour-e h3,
.card-falta h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
}

.card-hour-t p,
.card-hour-e p,
.card-falta p{
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--black);
}


.col-ponto {
    height: 250px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.btn-ponto {
    height: 150px;
    width: 300px;
    border: none;
    background: linear-gradient(100deg ,var(--primary), var(--secondary));
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    border-radius: 20px;
}
.col-clock {
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (min-width: 968px) {
    :root {
      --biggest-font-size: 3.5rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
      --tiny-font-size: .75rem;
    }
  }

  /*========== Variables Dark theme ==========*/
  body.dark-theme {
    --title-color: hsl(var(--hue-color), 12%, 95%);
    --text-color: hsl(var(--hue-color), 12%, 75%);
    --body-color: hsl(var(--hue-color), 10%, 16%);
  }

  /*========== Button Dark/Light ==========*/
  .clock__theme {
    position: absolute;
    top: -1rem;
    right: -1rem;
    display: flex;
    padding: .25rem;
    border-radius: 50%;
    box-shadow: inset -1px -1px 1px hsla(var(--hue-color), 0%, 100%, 1),
                inset 1px 1px 1px hsla(var(--hue-color), 30%, 86%, 1);
    color: var(--first-color);
    cursor: pointer;
    transition: .4s;
  }

  /*========== Box shadow Dark theme ==========*/
  .dark-theme .clock__circle {
    box-shadow: 6px 6px 16px hsla(var(--hue-color), 8%, 12%, 1),
                -6px -6px 16px hsla(var(--hue-color), 8%, 20%, 1),
                inset -6px -6px 16px hsla(var(--hue-color), 8%, 20%, 1),
                inset 6px 6px 12px hsla(var(--hue-color), 8%, 12%, 1);
  }

  .dark-theme .clock__theme {
    box-shadow: inset -1px -1px 1px hsla(var(--hue-color), 8%, 20%, 1),
                inset 1px 1px 1px hsla(var(--hue-color), 8%, 12%, 1);
  }


  a {
    text-decoration: none;
  }

  /*=============== REUSABLE CSS CLASSES ===============*/

  .clock__circle {
    position: relative;
    width: 200px;
    height: 200px;
    box-shadow: -6px -6px 16px var(--white-color),
                6px 6px 16px hsla(var(--hue-color), 30%, 86%, 1),
                inset 6px 6px 16px hsla(var(--hue-color), 30%, 86%, 1),
                inset -6px -6px 16px var(--white-color);
    border-radius: 50%;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
  }

  .clock__content {
    align-self: center;
    row-gap: 3.5rem;
  }

  .clock__twelve,
  .clock__three,
  .clock__six,
  .clock__nine {
    position: absolute;
    width: 1rem;
    height: 1px;
    background-color: var(--text-color-light);
  }

  .clock__twelve,
  .clock__six {
    transform: translateX(-50%) rotate(90deg);
  }

  .clock__twelve {
    top: 1.25rem;
    left: 50%;
  }

  .clock__three {
    top: 50%;
    right: .75rem;
  }

  .clock__six {
    bottom: 1.25rem;
    left: 50%;
  }

  .clock__nine {
    left: .75rem;
    top: 50%;
  }

  .clock__rounder {
    width: .75rem;
    height: .75rem;
    background-color: var(--first-color);
    border-radius: 50%;
    border: 2px solid var(--body-color);
    z-index: var(--z-tooltip);
  }

  .clock__hour,
  .clock__minutes,
  .clock__seconds {
    position: absolute;
    display: flex;
    justify-content: center;
  }

  .clock__hour {
    width: 105px;
    height: 105px;
  }

  .clock__hour::before {
    content: '';
    position: absolute;
    background-color: var(--text-color);
    width: .25rem;
    height: 3rem;
    border-radius: .75rem;
    z-index: var(--z-normal);
  }

  .clock__minutes {
    width: 136px;
    height: 136px;
  }

  .clock__minutes::before {
    content: '';
    position: absolute;
    background-color: var(--text-color);
    width: .25rem;
    height: 4rem;
    border-radius: .75rem;
    z-index: var(--z-normal);
  }

  .clock__seconds {
    width: 130px;
    height: 130px;
  }

  .clock__seconds::before {
    content: '';
    position: absolute;
    background-color: var(--first-color);
    width: .125rem;
    height: 5rem;
    border-radius: .75rem;
    z-index: var(--z-normal);
  }

  .clock__logo {
    width: max-content;
    justify-self: center;
    margin-bottom: var(--mb-2-5);
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color-light);
    transition: .3s;
  }

  .clock__logo:hover {
    color: var(--first-color);
  }

  .clock__text {
    display: flex;
    justify-content: center;
  }

  .clock__text-hour,
  .clock__text-minutes {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
  }

  .clock__text-ampm {
    font-size: var(--tiny-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-left: var(--mb-0-25);
  }

  .clock__date {
    text-align: center;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
  }

  /*=============== MEDIA QUERIES ===============*/
  /* For large devices */
  @media screen and (min-width: 968px) {
    .container {
      margin-left: auto;
      margin-right: auto;
    }
    .clock__logo {
      margin-bottom: 3rem;
    }
  }
