@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600&family=Inter:wght@300;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,700;1,100;1,600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

:root {
    --primary: #43c6d9;
    --secondary: #04344b;
    --third: #2b83ac;
    --white: #fff;
    --black: #000;
    /*========== Colors ==========*/
    --hue-color: 240;

    --first-color: hsl(var(--hue-color), 53%, 49%);
    --title-color: hsl(var(--hue-color), 53%, 15%);
    --text-color: hsl(var(--hue-color), 12%, 35%);
    --text-color-light: hsl(var(--hue-color), 12%, 65%);
    --white-color: #fff;
    --body-color: hsl(var(--hue-color), 24%, 94%);

    /*========== Font and typography ==========*/
    --body-font: "Poppins", sans-serif;
    --biggest-font-size: 3rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
    --tiny-font-size: 0.625rem;

    /*========== Font weight ==========*/
    --font-medium: 500;

    /*========== Margenes Bottom ==========*/
    --mb-0-25: 0.25rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2-5: 2.5rem;

    /*========== z index ==========*/
    --z-normal: 1;
    --z-tooltip: 10;
}

.nav {
    background: linear-gradient(100deg, var(--primary), var(--secondary));
    padding: 10px 100px;
}

.navbar-brand {
    color: var(--white);
    font-size: 1.1rem;
    font-weight: 700;
}

.collapse ul li a {
    position: relative;
    left: 40px;
    color: var(--white);
    font-size: 1.1rem;
}

.collapse ul li a:hover {
    color: var(--primary);
}

.dropdown-menu {
    background: var(--secondary);
}

.perfil h3 {
    color: var(--white);
    font-size: 1rem;
}

.btn-group ul li a {
    color: var(--white);
}

.div-content {
    padding: 50px 70px;
}

.div-content-perfil {
    padding: 50px 70px;
    display: flex;
    justify-content: center;
}

.div-container {
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.3);
}

.card-user {
    padding: 30px;
    border-radius: 20px;
    height: 500px;
    box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.3);
}

.div-info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info-user {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info-user,
.info-carga-h {
    margin-top: 40px;
}

.info-user h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary);
}

.info-user h2 {
    font-size: 1.4rem;
    color: var(--secondary);
}

.info-user h3 {
    font-size: 1.2rem;
    color: var(--secondary);
}

.info-carga-h {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-carga-h h1 {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--secondary);
}

.info-carga-h h2 {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--secondary);
}

.div-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-hour-t {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background: var(--primary);
    border-radius: 20px;
    height: 100px;
}
.card-hour-e {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background: var(--third);
    border-radius: 20px;
    height: 100px;
}
.card-falta {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background: var(--secondary);
    border-radius: 20px;
    height: 100px;
}

.card-hour-t h3,
.card-hour-e h3,
.card-falta h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
}

.card-hour-t p,
.card-hour-e p,
.card-falta p {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--black);
}

.col-ponto {
    height: 250px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.btn-ponto {
    height: 150px;
    width: 300px;
    border: none;
    background: linear-gradient(100deg, var(--primary), var(--secondary));
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    border-radius: 20px;
}

.btn-help {
    height: 70px;
    width: 300px;
    border: none;
    background: linear-gradient(100deg, var(--primary), var(--secondary));
    color: white;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 10px;
}

.col-clock {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 3.5rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
        --tiny-font-size: 0.75rem;
    }
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
    --title-color: hsl(var(--hue-color), 12%, 95%);
    --text-color: hsl(var(--hue-color), 12%, 75%);
    --body-color: hsl(var(--hue-color), 10%, 16%);
}

/*=============== REUSABLE CSS CLASSES ===============*/

.clock__circle {
    position: relative;
    width: 200px;
    height: 200px;
    box-shadow: -6px -6px 16px var(--white-color),
        6px 6px 16px hsla(var(--hue-color), 30%, 86%, 1),
        inset 6px 6px 16px hsla(var(--hue-color), 30%, 86%, 1),
        inset -6px -6px 16px var(--white-color);
    border-radius: 50%;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.clock__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.clock__twelve,
.clock__three,
.clock__six,
.clock__nine {
    position: absolute;
    width: 1rem;
    height: 1px;
    background-color: var(--text-color-light);
}

.clock__twelve,
.clock__six {
    transform: translateX(-50%) rotate(90deg);
}

.clock__twelve {
    top: 1.25rem;
    left: 50%;
}

.clock__three {
    top: 50%;
    right: 0.75rem;
}

.clock__six {
    bottom: 1.25rem;
    left: 50%;
}

.clock__nine {
    left: 0.75rem;
    top: 50%;
}

.clock__rounder {
    width: 0.75rem;
    height: 0.75rem;
    background-color: var(--first-color);
    border-radius: 50%;
    border: 2px solid var(--body-color);
    z-index: var(--z-tooltip);
}

.clock__hour,
.clock__minutes,
.clock__seconds {
    position: absolute;
    display: flex;
    justify-content: center;
}

.clock__hour {
    width: 105px;
    height: 105px;
}

.clock__hour::before {
    content: "";
    position: absolute;
    background-color: var(--text-color);
    width: 0.25rem;
    height: 3rem;
    border-radius: 0.75rem;
    z-index: var(--z-normal);
}

.clock__minutes {
    width: 136px;
    height: 136px;
}

.clock__minutes::before {
    content: "";
    position: absolute;
    background-color: var(--text-color);
    width: 0.25rem;
    height: 4rem;
    border-radius: 0.75rem;
    z-index: var(--z-normal);
}

.clock__seconds {
    width: 130px;
    height: 130px;
}

.clock__seconds::before {
    content: "";
    position: absolute;
    background-color: var(--first-color);
    width: 0.125rem;
    height: 5rem;
    border-radius: 0.75rem;
    z-index: var(--z-normal);
}

.clock__logo {
    width: max-content;
    justify-self: center;
    margin-bottom: var(--mb-2-5);
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color-light);
    transition: 0.3s;
}

.clock__logo:hover {
    color: var(--first-color);
}

.clock__text {
    display: flex;
    justify-content: center;
}

.container-clock {
    width: 200px;
    display: flex;
    justify-content: center;
}

.clock__text-hour,
.clock__text-minutes,
.clock__text-seconds {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
}

.clock__text-ampm {
    font-size: var(--tiny-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-left: var(--mb-0-25);
}

.clock__date {
    text-align: center;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

/*=============== MEDIA QUERIES ===============*/
/* For large devices */
@media screen and (min-width: 968px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    .clock__logo {
        margin-bottom: 3rem;
    }
}

/*============= DADOS DO PERFIL ===============*/

.coluna-dados {
    display: flex;
    flex-direction: column;
}

.input-perfil {
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: none;
    height: 35px;
}

.btn-perfil {
    display: flex;
    justify-content: flex-end;
}

.btn-perfil button {
    margin-top: 20px;
    border: none;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    color: var(--white);
    background: linear-gradient(92deg, var(--primary), var(--secondary));
}

.info {
    display: flex;
    justify-content: center;
}

.info h1 {
    font-size: 1.5rem;
    font-weight: 500;
}

.profile-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ccc;
}

.profile-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Redimensiona a imagem para caber no círculo */
}

.profile-icon-layout {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ccc;
}

.profile-icon-layout img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Redimensiona a imagem para caber no círculo */
}
.div-container-perfil {
    padding: 30px;
    width: 500px;
    height: 560px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.3);
}

.coluna-perfil {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.coluna-perfil form {
    display: flex;
    flex-direction: column;
}

.coluna-perfil form button {
    margin-top: 20px;
    border: none;
    height: 40px;
    border-radius: 10px;
    color: var(--white);
    background: linear-gradient(92deg, var(--primary), var(--secondary));
}

.table-col {
    padding: 30px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.3);
}

.table-col a {
    color: var(--secondary);
    display: flex;
    justify-content: flex-end;
}

/*---- View Funcionários ----*/

.div-container-funcionarios {
    padding: 30px;
    height: 520px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.3);
}

.btn-cad {
    height: 50px;
    width: 250px;
    border: none;
    background: linear-gradient(100deg, var(--primary), var(--secondary));
    color: white;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 10px;
}

.modal-header {
    background: var(--secondary);
    color: var(--white);
    font-weight: 700;
}

.btn-modal {
    width: 100px;
    height: 40px;
    margin-left: 10px;
    color: var(--white);
    font-size: 1rem;
    background: var(--secondary);
    border: none;
    border-radius: 10px;
}

.btn-delet {
    width: 100px;
    height: 40px;
    margin-left: 10px;
    color: var(--white);
    font-size: 1rem;
    background: #ff5a54;
    border: none;
    border-radius: 10px;
}

.table-Users thead {
    color: var(--secondary);
}

.table-wrapper {
    margin-top: 10px;
    max-height: 400px;
    overflow-y: auto;
}

.table-wrapper table thead {
    position: sticky;
    z-index: 1;
    top: 0px;
    background: var(--secondary);
    color: var(--white);
}

.table-Users .fav-icon-edit {
    cursor: pointer;
    color: green;
}

.table-Users .fav-icon-delet {
    cursor: pointer;
    color: red;
}

.modal-delet,
.footer-delet {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-delet img {
    height: 60px;
    width: 60px;
}

.header-delet {
    background: #ff5a54;
}
